aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
click
deprecation
dotenv
elevenlabs
fastapi
frozenlist
gotrue
h11
h2
hpack
httpcore
httpx
hyperframe
idna
multidict
packaging
postgrest
propcache
pydantic
pydantic-core
python-dateutil
python-dotenv
realtime
requests
six
sniffio
starlette
storage3
strenum
supabase
supafunc
typing
typing-extensions
urllib3
uvicorn
websockets
yarl
